.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f9f9f9;
}

.register-form-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    border-radius: 10px;
}

.register-title {
    text-align: center;
    color: #6b46c1;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: 600;
}

.required {
    color: red;
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #6b46c1;
}

button {
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.register-btn {
    background-color: #6b46c1;
    color: #fff;
    border: none;
}

.register-btn:hover {
    background-color: #5a3aa5;
}

.google-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
}

.google-btn:hover {
    background-color: #3367d6;
}

.sign-in-link {
    color: #6b46c1;
    /* Same color as Register button */
    text-decoration: none;
}

.sign-in-link:hover {
    text-decoration: underline;
}